h1{
    background-color: dodgerblue;
}
h2{
    background-color: bisque;
}
a:link, a:visited{
    color: rgb(54, 133, 133);
    background-color: rgb(160, 202, 83);
    padding: 14px,25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    border: 2px solidgreen;

}
a:hover{
    color: blueviolet;
}
body{
    background-color: lightblue;
    opacity: 0,3;
}
ul{
    background-color: aquamarine;
}