h1{
    background-color: dodgerblue;
    border: 2px solid violet;
}
h2{
    background-color: bisque;
    
}
.item{
    list-style: none;
    display: inline-block;
    margin: 2px solid black;

}

.recipe-list a {
    
    background-color: rgb(179,57,81);
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    display: inline-block;

}
.recipe-list a:hover{
    
    background-color: rgb(66, 28, 40);
    color: white;
    
}



